bind-addr: {{ code_server_bind_addr }}
auth: password
{% if code_server_hashed_password is defined %}
hashed-password: "{{ code_server_hashed_password }}"
{% else %}
password: "{{ code_server_password }}"
{% endif %}
cert: false
